.logo-nav {
  width: 130px;
  height: 50px;
}
.logo-footer {
    width: 130px;
    height: 50px;
}

.button {
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
}

#hero-img {
  border-radius: 16px;
  width: 356px;
  height: 445px;
}

.high-col-2 div img {
  width: 270px;
  height: 201px;
  margin-left: 50px;
  border-radius: 16px 16px 0px 0px;
}

.high-col-2 {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  background-color: white;
}

.hero-container {
  width: 100%;
  background-color: #495E57;
}

.hero-col {
  margin-top: 10%;
  display: block;
}

.hero-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


nav {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-col ul li {
  display: inline;
  margin-left: 50px;
}

.nav-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color:black;
  text-transform: capitalize;
}

.logo-nav {
  margin-top: 2%;
  padding: 0 15px;
}

.logo-footer {
  margin-top: 5%;
  padding: 0 15px;
}

.footer {
  background-color: rgb(255, 255, 255);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  color:black;
  display: block;
  text-transform: capitalize;
}

ul li a:hover {
  color:#F4CE14
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 50px;
}